<div class="container">
    <h2>Edit Task</h2>

    <form #myform="ngForm" (ngSubmit)="onEdit()">
        <div class="form-group mt-2" *ngIf="selectedTask!=null">
            <input name="title" [(ngModel)]="selectedTask.title" type="text" class="form-control m-2"
                placeholder="Title">
            <textarea name="description" [(ngModel)]="selectedTask.description" type="text" class="form-control m-2"
                placeholder="Description"></textarea>
            <div class="row m-2">
                <input type="submit" class="btn btn-primary m-2" value="Edit">
                <button type="button" class="btn btn-danger m-2" (click)="onDelete()">Delete</button>
                <a routerLink="" class="btn btn-success m-2">Close</a>
            </div>
        </div>
    </form>
    <!--
    <div class="form-group mt-2" *ngIf="selectedTask!=null">
        <input [(ngModel)]="selectedTask.title" type="text" class="form-control m-2" placeholder="Title">
        <textarea [(ngModel)]="selectedTask.description" type="text" class="form-control m-2"
            placeholder="Description"></textarea>
        <div class="row m-2">
            <button class="btn btn-primary m-2" (click)="onEdit()">Edit</button>
            <button class="btn btn-danger m-2" (click)="onDelete()">Delete</button>
            <a routerLink="" class="btn btn-success m-2">Close</a>
        </div>
    </div>
-->
    <div *ngIf="selectedTask == null " class="alert alert-danger mt-2">
        <p>Error No Task Found</p>
        <a routerLink="" class="btn btn-success m-2">Close</a>
    </div>

</div>